.poppins-regular{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

/* Navbar style */
.bark-2{
    color:#3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}
nav{
    display: flex;
    margin: 85px 120px;
    justify-content: space-between;
    
}
nav li a{
    text-decoration: none;
}
nav ul li{
    list-style: none;
    margin-right: 34px;
}
nav ul{
    display: flex;
}
.nav-a{
    margin-right: 34px;
}



/* Responsive for mobile devices */
@media screen and (max-width:576px) {
    nav ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    nav{
        margin: 30px 30px;
    }
    
}


/* Responsive for mid devices */
/* nav ul{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
} */
nav{
    margin: 30px 30px;
}